.botton {
  border-radius: 8px;
  border: none;
  font-weight: 600;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
  display: inline-block;
}

.botton--primary {
  background-color: #0051ff;
  color: white;
}

.botton--secondary {
  background-color: gray;
  color: white;
}

.botton--small {
  padding: 0.5em 1em;
  font-size: 0.875rem;
}

.botton--medium {
  padding: 0.75em 1.5em;
  font-size: 1rem;
}

.botton--large {
  padding: 1em 2em;
  font-size: 1.125rem;
}

.botton:hover {
  background-color: #080050;
}

